<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.XtGoodsMapper">
    
    <resultMap type="XtGoods" id="XtGoodsResult">
        <result property="sid"    column="sid"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsBm"    column="goods_bm"    />
        <result property="yu1"    column="yu1"    />
        <result property="yu2"    column="yu2"    />
        <result property="yu3"    column="yu3"    />
        <result property="yu4"    column="yu4"    />
        <result property="yu5"    column="yu5"    />
        <result property="yu6"    column="yu6"    />
        <result property="yu7"    column="yu7"    />
    </resultMap>

    <sql id="selectXtGoodsVo">
        select sid, goods_name, goods_bm, yu1, yu2, yu3, yu4, yu5, yu6, yu7 from xt_goods
    </sql>

    <select id="selectXtGoodsList" parameterType="XtGoods" resultMap="XtGoodsResult">
        <include refid="selectXtGoodsVo"/>
        <where>  
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="goodsBm != null  and goodsBm != ''"> and goods_bm = #{goodsBm}</if>
            <if test="yu1 != null  and yu1 != ''"> and yu1 = #{yu1}</if>
            <if test="yu2 != null  and yu2 != ''"> and yu2 = #{yu2}</if>
            <if test="yu3 != null  and yu3 != ''"> and yu3 = #{yu3}</if>
            <if test="yu4 != null  and yu4 != ''"> and yu4 = #{yu4}</if>
            <if test="yu5 != null  and yu5 != ''"> and yu5 = #{yu5}</if>
            <if test="yu6 != null  and yu6 != ''"> and yu6 = #{yu6}</if>
            <if test="yu7 != null  and yu7 != ''"> and yu7 = #{yu7}</if>
        </where>
    </select>
    
    <select id="selectXtGoodsBySid" parameterType="Long" resultMap="XtGoodsResult">
        <include refid="selectXtGoodsVo"/>
        where sid = #{sid}
    </select>
        
    <insert id="insertXtGoods" parameterType="XtGoods">
        insert into xt_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null">sid,</if>
            <if test="goodsName != null">goods_name,</if>
            <if test="goodsBm != null">goods_bm,</if>
            <if test="yu1 != null">yu1,</if>
            <if test="yu2 != null">yu2,</if>
            <if test="yu3 != null">yu3,</if>
            <if test="yu4 != null">yu4,</if>
            <if test="yu5 != null">yu5,</if>
            <if test="yu6 != null">yu6,</if>
            <if test="yu7 != null">yu7,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sid != null">#{sid},</if>
            <if test="goodsName != null">#{goodsName},</if>
            <if test="goodsBm != null">#{goodsBm},</if>
            <if test="yu1 != null">#{yu1},</if>
            <if test="yu2 != null">#{yu2},</if>
            <if test="yu3 != null">#{yu3},</if>
            <if test="yu4 != null">#{yu4},</if>
            <if test="yu5 != null">#{yu5},</if>
            <if test="yu6 != null">#{yu6},</if>
            <if test="yu7 != null">#{yu7},</if>
         </trim>
    </insert>

    <update id="updateXtGoods" parameterType="XtGoods">
        update xt_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsName != null">goods_name = #{goodsName},</if>
            <if test="goodsBm != null">goods_bm = #{goodsBm},</if>
            <if test="yu1 != null">yu1 = #{yu1},</if>
            <if test="yu2 != null">yu2 = #{yu2},</if>
            <if test="yu3 != null">yu3 = #{yu3},</if>
            <if test="yu4 != null">yu4 = #{yu4},</if>
            <if test="yu5 != null">yu5 = #{yu5},</if>
            <if test="yu6 != null">yu6 = #{yu6},</if>
            <if test="yu7 != null">yu7 = #{yu7},</if>
        </trim>
        where sid = #{sid}
    </update>

    <delete id="deleteXtGoodsBySid" parameterType="Long">
        delete from xt_goods where sid = #{sid}
    </delete>

    <delete id="deleteXtGoodsBySids" parameterType="String">
        delete from xt_goods where sid in 
        <foreach item="sid" collection="array" open="(" separator="," close=")">
            #{sid}
        </foreach>
    </delete>

</mapper>