<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改耗材类型')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-goods-edit" th:object="${xtGoods}">
            <input name="sid" th:field="*{sid}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">耗材类型：</label>
                <div class="col-sm-8">
                    <input name="goodsName" th:field="*{goodsName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">编码：</label>
                <div class="col-sm-8">
                    <input name="goodsBm" th:field="*{goodsBm}" class="form-control" type="text">
                </div>
            </div>
           <!-- <div class="form-group">
                <label class="col-sm-3 control-label">预留1：</label>
                <div class="col-sm-8">
                    <input name="yu1" th:field="*{yu1}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留2：</label>
                <div class="col-sm-8">
                    <input name="yu2" th:field="*{yu2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留3：</label>
                <div class="col-sm-8">
                    <input name="yu3" th:field="*{yu3}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留4：</label>
                <div class="col-sm-8">
                    <input name="yu4" th:field="*{yu4}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留5：</label>
                <div class="col-sm-8">
                    <input name="yu5" th:field="*{yu5}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留6：</label>
                <div class="col-sm-8">
                    <input name="yu6" th:field="*{yu6}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留7：</label>
                <div class="col-sm-8">
                    <input name="yu7" th:field="*{yu7}" class="form-control" type="text">
                </div>
            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/goods";
        $("#form-goods-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-goods-edit').serialize());
            }
        }
    </script>
</body>
</html>